
* { box-sizing: border-box; }
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;

}

header {
    background-color: purple;
    display: flex;
    padding: 15px;
}
header, *{
    margin: 20px;
}
.logo img{
    height: 60px;
    
}
.content iframe{
    width: 800px;
    height: 550px;
    margin-left: 10px;
}
.video1 iframe{
    width: 400px;
    height: 200px;
    float: right;
    margin-top: -500px;
}